{% extends "layout/base.twig" %}
 
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zinobe</title>

    <script src="../public/dist/css/index.css"></script>
    <link rel="stylesheet" href="../../node_modules//datatables.net-dt/css/jquery.dataTables.min.css">
{% endblock head %}

{% block content %}
    {% if isLogged == true %}
    <input type="hidden" name="current-id" id="current-id" value="{{currentId}}" />
    {% if false %}
            
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="txt-search-contact">Buscar Contacto</label>
                        <input type="text" class="form-control" name="txt-search-contact" id="txt-search-contact" />
                    </div>
                </div>
            </div>    
            <div class="row">
                <div class="col-12  col-md-6 ">
                    <div class="form-group">
                        <a href="javascript:;" class="btn btn-primary" id="btn-search-contact">search</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row my-2">
            <div class="col-12  mb-4 mx-auto">
                <table id="table_contact" class="w-100 table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Documento</th>
                            <th>Empleo</th>
                            <th>País</th>
                        </tr>
                    </thead>
                </table>

            </div>  
        </div>    
    {% else %}
        <div class="row mt-5">
            <div class="col-12 col-md-6 mx-auto">
                <h1 class="text-center">Bienvenido al directorio de zinobe</h1>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block modalsWindow %}
    <!--Modals to show result -->
    <div class="modal" tabindex="-1" id="modal-result-search">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Resultado de la búsqueda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

     <!-- Modal to show the loading of the contact list -->
     <div class="modal fade" id="modal-loading-contact-list" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                   <div class="text-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true">
                        </div>
                    </div>
                    <div class="text-center">
                        <strong>Cargando lista de contactos ...</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock modalsWindow %}

{% block handlebarsTemplate %}
    {% verbatim %}
        <script id="result-request" type="text/x-handlebars-template">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Primer Nombre: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{first_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Primer Apellido: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{last_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Documento: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{document}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Email: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Nùmero de teléfono: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{phone_number}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Cargo: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{job_title}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Pais: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{country}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Estado: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{state}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="font-weight-bold">Ciudad: </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="font-weight-normal">{{city}}</p>
                    </div>
                </div>
            </div>
        </script>
    {% endverbatim %}
{% endblock handlebarsTemplate %}

{% block scripts %}
    <script src="../public/dist/js/index.js"></script>
{% endblock scripts %}